<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AUHTC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AUHTC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AUHTC.Properties.Settings>
            <setting name="DefaultPortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="DefaultBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
        </AUHTC.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AUHTC.Properties.Settings>
            <setting name="PortNames" serializeAs="String">
                <value>COM1;COM2;COM3;COM4</value>
            </setting>
            <setting name="BaudRates" serializeAs="String">
                <value>2400;4800;9600;19200;38400;57600;115200;230400;460800;921600</value>
            </setting>
        </AUHTC.Properties.Settings>
    </applicationSettings>
</configuration>